
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Tahoma";
  color: white;
}
.App {
  display: flex;
  min-height: 100vh;
}
.condiv {
  padding: 30px;
  background-color: #5d5d5d;
  flex: 40;
}
.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card {
  display: block !important;
  width: 300px !important;
  height: 500px !important;
  background-color: rgb(17, 16, 16) !important;
}

a.card-link {
  color: rgb(255, 255, 0);
  position: absolute;
  bottom: 40px;
  text-decoration: none;
}
a.card-link1 {
  color: rgb(255, 255, 0);
  position: absolute;
  bottom: 10px;
  text-decoration: none;
}
#CV-Link {
  color: rgb(255, 255, 0);
}
nav {
  flex: 7;
  background: white;
}
nav ul {
  font-size: 1.6rem;
  text-align: center;
}
nav ul li {
  margin: 40px;
}

p {
  font-size: 1.2rem;
}

.profilepic {
  border-radius: 10%;
  width: 150px;
  margin: 10px;
}
.typingeffect {
  font-size: 3rem;
}

.socialfooter {
  position: fixed;
  bottom: 10px;
  margin-left: 30px;
}
.active {
  font-weight: bolder;
}
