@import url(//fonts.googleapis.com/css?family=Tahoma);

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Tahoma";

}

.App {
  margin: 0;
  padding: 0;
}

.condiv {
  background-color: hsl(0, 0%, 9%);
  overflow:scroll;
  width:92%;
  height: 100vh;
  padding: 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  gap: 20px 20px; 
  justify-content: space-between;
}

.home {
  display: block;
  text-align: justify;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;

}

.contacts {
  display: block;
}

.contacts a {
  color: rgb(255, 255, 0);
  text-decoration: none;

}
.card {
  background-color: #161616 ;
  width: 300px; 
  height: 350px;
}


a.card-link {
  color: rgb(255, 255, 0);
  text-decoration: none;

}
a.card-link1 {
  color: rgb(255, 255, 0);
  text-decoration: none;
}

nav {
  float:left;
  box-sizing: border-box;
  width:8%;
  height: 100vh;
  text-decoration: none;
  background-color: white;

}

nav ul {
  font-size:20pt;
  padding-left: 10px;

}

li a {
  color: #161616;
  text-decoration: none;

}

p {
  font-size: 1.2rem;
}

.profilepic {
  border-radius: 10%;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.typingeffect {
  font-size: 3rem;
}

.socialfooter {
  position: fixed;
  bottom: 10px;
  padding-left: 10px;
}
.active {
  font-weight: bolder;
}


